@import './variables';

article {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.17em;
    }
    @media (max-width: $contentWidth) {
        h1 {
            font-size: 1.5em;
        }
        h2 {
            font-size: 1.2em;
        }
        h3 {
            font-size: 1em;
        }
    }
}

h1, h2, h3 {
    color: $headerFontColor;
    font-weight: $headerFontWeight;
    text-align: $headerTextAlign;
}

.nav-btn {
    padding: $buttonPadding;
    border: $buttonBorder;
    border-radius: $buttonBorderRadius;
    background: #00c3b6;
    color: white;
    text-decoration: none;
    size: 90%;
    cursor: pointer;
    &:hover {
        background: #4fdcd3;
    }
}