@import './variables';

h1, h2, h3 {
    color: $headerFontColor;
    font-weight: $headerFontWeight;
    text-align: $headerTextAlign;
}

.nav-btn {
    padding: $buttonPadding;
    border: $buttonBorder;
    border-radius: $buttonBorderRadius;
    background: #00c3b6;
    color: white;
    text-decoration: none;
    size: 90%;
    cursor: pointer;
    &:hover {
        background: #4fdcd3;
    }
}