@import '../../../scss/variables';
@import '../../../scss/main';

.article-component {
    color: $fontColor;
    text-align: justify;
}

.tables-without-headers {
    markdown ::ng-deep {
        thead {
            display: none;
        }
    }
}

markdown ::ng-deep {
    h1, h2, h3 {
        color: $headerFontColor;
        font-weight: $headerFontWeight;
        text-align: $headerTextAlign;
        margin-block-end: 0;
    }

    p, table {
        margin-block-start: .3em;
        margin-block-end: 1em;
    }

    td {
        padding-right: 10px;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .img-circular {
        border-radius: 50%;
    }

    /* Styles for resume */
    .junior:before,
    .medior:before,
    .senior:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: goldenrod;
    }
    .junior:before {
        content: "\f005";
    }
    .medior:before {
        content: "\f005\f005";
    }
    .senior:before {
        content: "\f005\f005\f005";
    }

    .hidden {
        visibility: hidden;
    }

    @media (max-width: $contentWidth) {
        abbr {
            display: none;
        }
    }
}

@media (max-width: $contentWidth) {
    h1 {
        font-size: 1.5em;
    }
}
