@import '../../../assets/scss/variables';

.header-bar {
    background-color: $headerBackgroundColor;
    background-image: $headerBackgroundImage;
    background-repeat: $headerBackgroundRepeat;
    height: $headerHeight;
    .content {
        margin: 0 auto 0;
        width: $contentWidth;
        .title {
            display: inline-block;
            margin: 10px;
            .main {
                color: $headerFontColor;
                font-size: 24px;
            }
            .sub {
                color: #666666;
                font-size: 11px;
            }
        }
        .menu {
            display: inline-block;
            .hamburger {
                display: none;
            }
            .menu-item {
                display: inline-block;
                margin-right: 1ex;
                padding: 4px;
                border-radius: 3px;
                cursor: pointer;
                &.active {
                    background-color: $buttonActiveBackgroundColor;
                    color: $buttonActiveTextColor;
                }
                &::ng-deep abbr {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $contentWidth) {
    .header-bar .content {
        width: inherit;
        margin: 0;
    }
}

@media (max-width: $mobileMaxWidth) {
    .header-bar {
        height: $headerHeightMobile;
        .content {
            max-width: inherit;
            margin: 0;
            width: 100%;
            .title {
                padding-left: 50px;
                .main {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            .menu {
                position: absolute;
                left: 0px;
                top: 0px;
                height: 100vh;
                width: 100%;
                .hamburger {
                    display: block;
                    position: absolute;
                    left: 12px;
                    top: 12px;
                    height: 1em;
                    width: 2ex;
                    color: $headerFontColor;
                    font-size: 24px;
                }
                .menu-items {
                    display: none;
                    &.menu-open {
                        animation-name: open-menu;
                        animation-duration: 0.6s;
                        animation-timing-function: ease;
                        -webkit-animation-name: open-menu;
                        -webkit-animation-duration: 0.6s;
                        -webkit-animation-timing-function: ease;

                        display: block;
                        position: absolute;
                        top: $headerHeightMobile;
                        left: 0;
                        bottom: $footerHeight;
                        background: $headerBackgroundColor;
                        padding-left: 10px;
                        z-index: 999;
                        .menu-item {
                            display: block;
                            &::ng-deep abbr {
                                display: initial;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes open-menu {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@-webkit-keyframes open-menu {
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}
