<div class="header-bar">
  <div class="content">
    <div class="title">
        <div class="main">Marcel Timmerman IT Consultancy</div>
        <div class="sub">Software development &amp; Solution Design</div>
    </div>
    <div class="menu">
      <div class="hamburger fa fa-bars" (click)="onHamburgerClick()"></div>
      <div [class]="menuClass">
        <div
          *ngFor="let nav of navigation"
          [class]="getClass(nav)"
          (click)="navigate(nav)"
          [innerHTML]="nav.name"
        ></div>
      </div>
    </div>
  </div>
</div>
