@import '../../../assets/scss/variables';

.footer-bar {
    background-color: $headerBackgroundColor;
    background-image: $headerBackgroundImage;
    background-repeat: $headerBackgroundRepeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    display: table;
    div {
        color: #666666;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}