@import '../assets/scss/variables';

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 20px;
}

.content {
    position: absolute;
    width: 100%;
    top: $headerHeight;
    bottom: $footerHeight;
    overflow: hidden auto;
    &>div {
        width: $contentWidth;
        margin: 0 auto 0;
    }
}
