$fontColor: #525252;
$headerFontColor: #005d57;
$headerBackgroundColor: #5a5d5a;
$headerBackgroundImage: linear-gradient(to bottom,#c2c7c2,#7a847a);
$headerBackgroundRepeat: repeat-x;
$buttonActiveBackgroundColor: #00c3b6;
$buttonActiveTextColor: white;
$contentWidth: 1000px;
$headerHeight: 70px;
$footerHeight: 60px;