@import '../../assets/scss/main.scss';

.clear {
    font-weight: bold;
    cursor: pointer;
}

.suggestions {
    .head {
        margin-top: 1em;
        font-size: 120%;
    }
    a {
        margin-right: 1ex;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.result {
    .head {
        margin-top: 1em;
        font-size: 120%;
    }
    .item {
        border-top: solid 1px #bcc2bc;
        margin-top: 1em;
    }
}