<h1>Zoeken</h1>
<div>
    <input type="text" [formControl]="searchControl" />&nbsp;<a *ngIf="searchControl.value" class="clear" (click)="clear()">X</a>
</div>
<div class="suggestions" *ngIf="suggestions && suggestions.length">
    <div class="head">
        Suggesties: 
    </div>
    <a *ngFor="let suggestion of suggestions" (click)="suggest(suggestion)">{{suggestion}}</a>
</div>
<div class="result" *ngIf="articles && articles.length">
    <div class="head">
        Zoekresultaten
    </div>
    <div class="item" *ngFor="let article of articles">
        <p>
            <a routerLink="/article/{{ article.id }}">{{ article.title }}</a>
        </p>
        <p>{{ getPreview(article) }}</p>
    </div>
</div>
