# be sure to have a <Directory /var/www/html/...> in your apache config
# with a AllowOverride All
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{http_host} !^www\.marceltimmerman\.nl
RewriteRule ^(.*) https://www.marceltimmerman.nl/$1 [R=301,L]
</IfModule>