# be sure to have a <Directory /var/www/html/...> in your apache config
# with a AllowOverride All
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{http_host} ^plazamila.nl
  RewriteRule ^(.*) https://www.marceltimmerman.nl/$1 [R=301,L]
  
  RewriteBase /
  RewriteRule ^index\.html$ - [L]

  RewriteCond ! ^/assets/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !server-calls
  RewriteRule . /index.html [L]
</IfModule>